.titlelayout{
  width: 1080px;
  margin: auto;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}