.listComponentLayout{
  width: 1080px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportmain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportlayout{
  width: 97%;
  height: 80px;
  border : 1px solid black ;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}




